<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>


<h1 style="text-align:center; margin-top:150px; font-family: sans-serif;">

    Hello {{ name }}
    {%  if age is not null %}
    j'ai {{ age }} ans
    {% endif %}



</h1>
<img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/flip.jpg" alt=""/>
</body>

</html>