<header class="primary">
        <div class="firstbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="brand">
                            <a href="index.html">
                                <img src="{{ asset('assets/img/LogoLaFrite.png') }}" alt="La Frite Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <ul class="nav-icons">
                            <li><a href="{{ path('register') }}"><i class="ion-person-add"></i><div>Register</div></a></li>
                            <li><a href="{{ path('login') }}"><i class="ion-person"></i><div>Login</div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</header>